################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoachConnect/CoachConnect/bin/Debug/CoachConnect.vshost.exe.manifest
/CoachConnect/CoachConnect.Tests/obj/Debug/build.force
